<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamdeng.template.data.dao.CommonDao">

	<sql id="common_select">
		,a.reg_date AS reg_date /* 등록일 */
		,a.mod_date AS mod_date /* 수정일 */
		,a.reg_user_id AS reg_user_id /* 등록자ID */
		,a.mod_user_id AS mod_user_id /* 수정자ID */
	</sql>

	<sql id="user_common_select">
		,u.user_key as user_key /* 사용자키 */
		,u.user_name as user_name /* 사용자명 */
		,u.dept_key as dept_key /* 부서키 */
		,u.rank_key as rank_key /* 직급명 */
		,u.duty_key as duty_key /* 직책키 */
		,u.position_key as position_key /* 직위키 */
		,d.dept_name as dept_name /* 부서명 */
		,r.rank_title as rank_title /* 직급명 */
		,du.duty_title as duty_title /* 직책명 */
		,po.position_title as position_title /* 직위명 */
	</sql>

	<sql id="user_common_join_table">
		left outer join TO0_USER_MAIN u
			on u.user_key = a.user_id
		left outer join TO0_DEPT_MAST d
			on u.dept_key = d.dept_key
		left outer join TO0_RANK_MAIN r
			on u.rank_key = r.rank_key
		left outer join TO0_DUTY_MAIN du
			on u.duty_key = du.duty_key
		left outer join TO0_POSITION_MAIN po
			on u.position_key = po.position_key
	</sql>

	<sql id="common_page_bottom">
		<if test="limit != null">
			limit #{limit}
		</if>
		<if test="offset != null">
			offset #{offset}
		</if>
	</sql>

</mapper>