<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamdeng.template.data.dao.CommuteDao">

	<!-- 일일 출퇴근 OFFICE_COMMUTE_DAY 테이블 select column -->
	<sql id="commute_select">
		a.base_date_str AS base_date_str /* 근태기준일 */
		,a.user_id AS user_id /* 직원ID */
		,a.start_work_date AS start_work_date /* 최초출근시간 */
		,a.out_work_date AS out_work_date /* 최초퇴근시간 */
		,a.final_start_work_date AS final_start_work_date /* 최종출근시간 */
		,a.final_out_work_date AS final_out_work_date /* 최종퇴근시간 */
		,a.start_work_ip AS start_work_ip /* 출근IP */
		,a.out_work_ip AS out_work_ip /* 퇴근IP */
		,a.outside_work_yn AS outside_work_yn /* 외근여부 */
		,a.work_status_code AS work_status_code /* 근무상태 */
		,a.work_result_code AS work_result_code /* 근무결과 */
		,a.vacation_kind_code AS vacation_kind_code /* 휴가종류 */
		,a.etc_description AS etc_description /* 기타설명 */
		,a.mod_yn AS mod_yn /* 수정여부 */
		,a.tardy_yn AS tardy_yn /* 지각여부 */
		,a.worked_time_value AS worked_time_value /* 근무시간 */
		<include refid="com.yamdeng.template.data.dao.CommonDao.common_select"/>
		<include refid="com.yamdeng.template.data.dao.CommonDao.user_common_select"/>
	</sql>

	<!-- 출퇴근 상세 조회 : 사용자ID 기준 -->
	<select id="selectCommuteInfoByUserId"
			parameterType="com.yamdeng.template.vo.request.OfficeCommuteDayRequestVO"
			resultType="com.yamdeng.template.vo.db.OfficeCommuteDayVO">
		SELECT
		<include refid="commute_select"/>
		FROM OFFICE_COMMUTE_DAY a
		<include refid="com.yamdeng.template.data.dao.CommonDao.user_common_join_table"/>
		WHERE a.BASE_DATE_STR = #{baseDateStr} AND a.user_id = #{userId}
	</select>

	<!-- 출근 -->
	<update id="startWork" parameterType="com.yamdeng.template.vo.request.OfficeCommuteDayRequestVO">
		UPDATE OFFICE_COMMUTE_DAY
		SET
			start_work_date = NOW()
			,start_work_ip = #{startWorkIp}
			,work_status_code = #{workStatusCode}
			,work_result_code = #{workResultCode}
			,mod_date = NOW()
			,mod_user_id = #{loginUserId}
		WHERE base_date_str = #{baseDateStr} and user_id = #{userId}
	</update>

	<!-- 퇴근 -->
	<update id="outWork" parameterType="com.yamdeng.template.vo.request.OfficeCommuteDayRequestVO">
		UPDATE OFFICE_COMMUTE_DAY
		SET
			out_work_date = NOW()
			,out_work_ip = #{outWorkIp}
			,work_status_code = #{workStatusCode}
			,work_result_code = #{workResultCode}
			,worked_time_value = #{workedTimeValue}
			,mod_date = NOW()
			,mod_user_id = #{loginUserId}
		WHERE base_date_str = #{baseDateStr} and user_id = #{userId}
	</update>

</mapper>