<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamdeng.template.data.dao.DeptWorkTimeSettingDao">

	<!-- OFFICE_DEPT_WORK_TIME_SETTING(부서별_근무_시간_관리) 테이블 -->

	<!-- OFFICE_DEPT_WORK_TIME_SETTING select column -->
	<sql id="dept_work_time_setting_select">
		a.dept_id               AS dept_id /* 적용부서ID */
		,a.time_name            AS time_name /* 근무시간명 */
		,a.time_description     AS time_description /* 근무시간 설명 */
		,a.work_location        AS work_location /* 근무지 */
		,a.work_start_time      AS work_start_time /* 근무시작시간 */
		,a.work_end_time        AS work_end_time /* 근무종료시간 */
		,a.lunch_start_time     AS lunch_start_time /* 점심시작시간 */
		,a.lunch_end_time       AS lunch_end_time /* 점심종료시간 */
		,a.apply_start_date_str AS apply_start_date_str /* 적용시작일 */
		,a.apply_end_date_str   AS apply_end_date_str /* 적용종료일 */
		<include refid="com.yamdeng.template.data.dao.CommonDao.common_select"/>
		<include refid="com.yamdeng.template.data.dao.CommonDao.dept_common_select"/>
	</sql>

	<!-- 부서별_근무_시간_관리 list -->
	<select id="selectDeptWorkTimeSettingList"
			parameterType="com.yamdeng.template.vo.db.OfficeDeptWorkTimeSettingVO"
			resultType="com.yamdeng.template.vo.db.OfficeDeptWorkTimeSettingVO">
		SELECT
			<include refid="dept_work_time_setting_select"/>
		FROM   office_dept_work_time_setting a
			<include refid="com.yamdeng.template.data.dao.CommonDao.dept_common_join_table"/>
		WHERE 1=1
		<include refid="com.yamdeng.template.data.dao.CommonDao.common_page_bottom"/>
	</select>

	<!-- 부서별_근무_시간_관리 list totalCount -->
	<select id="selectDeptWorkTimeSettingListTotalCount"
			parameterType="com.yamdeng.template.vo.db.OfficeDeptWorkTimeSettingVO"
			resultType="java.lang.Integer">
		SELECT count(*)
		FROM   office_dept_work_time_setting a
			<include refid="com.yamdeng.template.data.dao.CommonDao.dept_common_join_table"/>
		WHERE 1=1
	</select>

	<!-- 부서별_근무_시간_관리 detail -->
	<select id="selectDeptWorkTimeSettingInfoByDeptId"
			parameterType="java.lang.String"
			resultType="com.yamdeng.template.vo.db.OfficeDeptWorkTimeSettingVO">
		SELECT
			<include refid="dept_work_time_setting_select"/>
		FROM   office_dept_work_time_setting a
			<include refid="com.yamdeng.template.data.dao.CommonDao.dept_common_join_table"/>
		WHERE dept_id = #{deptId}
	</select>

	<!-- 부서별_근무_시간_관리 insert -->
	<insert id="insertDeptWorkTimeSetting"
			parameterType="com.yamdeng.template.vo.db.OfficeDeptWorkTimeSettingVO">
		INSERT INTO office_dept_work_time_setting (
			dept_id
			<if test='timeName != null and !timeName.equals("")'>
				,time_name
			</if>
			<if test='timeDescription != null and !timeDescription.equals("")'>
				,time_description
			</if>
			<if test='workLocation != null and !workLocation.equals("")'>
				,work_location
			</if>
			<if test='workStartTime != null and !workStartTime.equals("")'>
				,work_start_time
			</if>
			<if test='workEndTime != null and !workEndTime.equals("")'>
				,work_end_time
			</if>
			<if test='lunchStartTime != null and !lunchStartTime.equals("")'>
				,lunch_start_time
			</if>
			<if test='lunchEndTime != null and !lunchEndTime.equals("")'>
				,lunch_end_time
			</if>
			<if test='applyStartDateStr != null and !applyStartDateStr.equals("")'>
				,apply_start_date_str
			</if>
			<if test='applyEndDateStr != null and !applyEndDateStr.equals("")'>
				,apply_end_date_str
			</if>
			<if test='loginUserId != null and !loginUserId.equals("")'>
				,reg_user_id
			</if>
			<if test='loginUserId != null and !loginUserId.equals("")'>
				,mod_user_id
			</if>
		) VALUES (
			#{deptId}
			<if test='timeName != null and !timeName.equals("")'>
				,#{timeName}
			</if>
			<if test='timeDescription != null and !timeDescription.equals("")'>
				,#{timeDescription}
			</if>
			<if test='workLocation != null and !workLocation.equals("")'>
				,#{workLocation}
			</if>
			<if test='workStartTime != null and !workStartTime.equals("")'>
				,#{workStartTime}
			</if>
			<if test='workEndTime != null and !workEndTime.equals("")'>
				,#{workEndTime}
			</if>
			<if test='lunchStartTime != null and !lunchStartTime.equals("")'>
				,#{lunchStartTime}
			</if>
			<if test='lunchEndTime != null and !lunchEndTime.equals("")'>
				,#{lunchEndTime}
			</if>
			<if test='applyStartDateStr != null and !applyStartDateStr.equals("")'>
				,#{applyStartDateStr}
			</if>
			<if test='applyEndDateStr != null and !applyEndDateStr.equals("")'>
				,#{applyEndDateStr}
			</if>
			<if test='loginUserId != null and !loginUserId.equals("")'>
				,#{loginUserId}
			</if>
			<if test='loginUserId != null and !loginUserId.equals("")'>
				,#{loginUserId}
			</if>
		)
	</insert>

	<!-- 부서별_근무_시간_관리 update -->
	<update id="updateDeptWorkTimeSetting"
			parameterType="com.yamdeng.template.vo.db.OfficeDeptWorkTimeSettingVO">
		UPDATE office_dept_work_time_setting
		 SET
			mod_date = <include refid="com.yamdeng.template.data.dao.CommonDao.current_date_function"/>
			 <if test='timeName != null and !timeName.equals("")'>
				 ,time_name = #{timeName}
			 </if>
			 <if test='timeDescription != null and !timeDescription.equals("")'>
				 ,time_description = #{timeDescription}
			 </if>
			 <if test='workLocation != null and !workLocation.equals("")'>
				 ,work_location = #{workLocation}
			 </if>
			 <if test='workStartTime != null and !workStartTime.equals("")'>
				 ,work_start_time = #{workStartTime}
			 </if>
			 <if test='workEndTime != null and !workEndTime.equals("")'>
				 ,work_end_time = #{workEndTime}
			 </if>
			 <if test='lunchStartTime != null and !lunchStartTime.equals("")'>
				 ,lunch_start_time = #{lunchStartTime}
			 </if>
			 <if test='lunchEndTime != null and !lunchEndTime.equals("")'>
				 ,lunch_end_time = #{lunchEndTime}
			 </if>
			 <if test='applyStartDateStr != null and !applyStartDateStr.equals("")'>
				 ,apply_start_date_str = #{applyStartDateStr}
			 </if>
			 <if test='applyEndDateStr != null and !applyEndDateStr.equals("")'>
				 ,apply_end_date_str = #{applyEndDateStr}
			 </if>
			 <if test='loginUserId != null and !loginUserId.equals("")'>
				 ,reg_user_id = #{loginUserId}
			 </if>
			 <if test='loginUserId != null and !loginUserId.equals("")'>
				 ,mod_user_id = #{loginUserId}
			 </if>
		WHERE dept_id = #{deptId}
	</update>

</mapper>