<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamdeng.template.data.dao.HolidayDao">

	<!-- OFFICE_WORK_HOLIDAY(공휴일) 테이블 -->

	<!-- OFFICE_WORK_HOLIDAY select column -->
<!--	<sql id="work_holiday_select">-->
<!--		a.user_id              AS user_id /* 직원ID */-->
<!--		,a.base_year           AS base_year /* 기준년 */-->
<!--		,a.annual_count        AS annual_count /* 발생연차 */-->
<!--		,a.month_count         AS month_count /* 금년월차 */-->
<!--		,a.useable_count       AS useable_count /* 사용가능일수 */-->
<!--		,a.plus_vacation_count AS plus_vacation_count /* 포상휴가 수 */-->
<!--		,a.used_count          AS used_count /* 사용일수 */-->
<!--		<include refid="com.yamdeng.template.data.dao.CommonDao.common_select"/>-->
<!--		<include refid="com.yamdeng.template.data.dao.CommonDao.user_common_select"/>-->
<!--	</sql>-->

	<!-- 공휴일여부 확인 -->
	<select id="checkHolidayByDateStr"
			parameterType="com.yamdeng.template.vo.db.OfficePushAlarmVO"
			resultType="java.lang.Integer">
		SELECT count(*)
		FROM   office_work_holiday
		WHERE  base_year = #{baseYear}
			AND holi_date_str = #{holiDateStr}
	</select>

</mapper>