<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamdeng.template.data.dao.HolidayDao">

	<!-- OFFICE_WORK_HOLIDAY(공휴일) 테이블 -->

	<!-- OFFICE_WORK_HOLIDAY select column -->
	<sql id="work_holiday_select">
		a.base_year AS base_year /* 기준년 */
		,a.holi_date_str AS holi_date_str /* 날짜 */
		,a.name AS name /* 명칭 */
		,a.weekday_code AS weekday_code /* 요일구분 */
		,a.weekend_code AS weekend_code /* 주중/주말 구분 */
		,fn_get_code_label('WEEKDAY', a.weekday_code)     AS weekday_code_name /* 요일구분 코드명 */
		,fn_get_code_label('WEEKEND', a.weekend_code)     AS weekend_code_name /* 주중/주말 구분 코드명 */
	</sql>

	<!-- OFFICE_WORK_HOLIDAY where column -->
	<sql id="work_holiday_where">
		AND a.base_year = #{baseYear}
		<if test='startDateStr != null and !startDateStr.equals("")'>
			AND a.holi_date_str <![CDATA[ >= ]]> #{startDateStr}
		</if>
		<if test='endDateStr != null and !endDateStr.equals("")'>
			AND a.holi_date_str <![CDATA[ <= ]]> #{endDateStr}
		</if>
	</sql>

	<!-- 공휴일 list -->
	<select id="selectWorkHolidayList"
			parameterType="com.yamdeng.template.vo.db.OfficeWorkHolidayVO"
			resultType="com.yamdeng.template.vo.db.OfficeWorkHolidayVO">
		SELECT
			<include refid="work_holiday_select"/>
		FROM   office_work_holiday a
		WHERE  1=1
			<include refid="work_holiday_where"/>
		<include refid="com.yamdeng.template.data.dao.CommonDao.common_page_bottom"/>
	</select>

	<!-- 공휴일 list totalCount -->
	<select id="selectWorkHolidayListTotalCount"
			parameterType="com.yamdeng.template.vo.db.OfficeWorkHolidayVO"
			resultType="java.lang.Integer">
		SELECT count(*)
		FROM   office_work_holiday a
		WHERE  1=1
			<include refid="work_holiday_where"/>
	</select>

	<!-- 공휴일여부 확인 -->
	<select id="checkHolidayByDateStr"
			parameterType="com.yamdeng.template.vo.db.OfficeWorkHolidayVO"
			resultType="java.lang.Integer">
		SELECT count(*)
		FROM   office_work_holiday a
		WHERE  a.base_year = #{baseYear}
			AND a.holi_date_str = #{holiDateStr}
	</select>

</mapper>