<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamdeng.template.data.dao.UserDao">

	<!-- 조직도 공통 -->

	<!-- 부서의 팀장 사용자ID 가져오기 -->
	<select id="getDeptManagerUserId"
			parameterType="java.lang.String"
			resultType="java.lang.String">
		SELECT user_key
		FROM   to0_user_main
		WHERE  dept_key = #{deptId}
			AND duty_key = 'manager'
	</select>

	<!-- 하위 부서 목록 가져오기 -->
	<select id="selectChildDeptListByDeptKey"
			parameterType="java.lang.String"
			resultType="com.yamdeng.template.vo.common.BaseCommonVO">
		WITH recursive dept_child_list(dept_key, dept_name, upper_dept_key)
		AS
		(
				SELECT a.dept_key,
						a.upper_dept_key,
						a.dept_name
				FROM   to0_dept_mast a
				WHERE  dept_key = #{deptKey}
				UNION ALL
				SELECT a.dept_key,
						a.upper_dept_key,
						a.dept_name
				FROM   to0_dept_mast a,
						dept_child_list b
				WHERE  a.upper_dept_key = b.dept_key )
		SELECT dept_key,
				dept_name,
				upper_dept_key
		FROM   dept_child_list
		WHERE  dept_key != #{deptKey}
	</select>

	<!-- 사용자 list -->
	<select id="selectUserList"
			parameterType="com.yamdeng.template.vo.common.BaseCommonVO"
			resultType="com.yamdeng.template.vo.common.BaseCommonVO">
		SELECT
			u.user_id as user_id
			<include refid="com.yamdeng.template.data.dao.CommonDao.user_common_select"/>
		FROM
			<include refid="com.yamdeng.template.data.dao.CommonDao.common_user_from"/>
		WHERE 1=1
		<include refid="com.yamdeng.template.data.dao.CommonDao.common_page_bottom"/>
	</select>

	<!-- 사용자 list totalCount -->
	<select id="selectUserListTotalCount"
			parameterType="com.yamdeng.template.vo.common.BaseCommonVO"
			resultType="java.lang.Integer">
		SELECT count(*)
		FROM
			<include refid="com.yamdeng.template.data.dao.CommonDao.common_user_from"/>
		WHERE 1=1
		<include refid="com.yamdeng.template.data.dao.CommonDao.common_page_bottom"/>
	</select>

</mapper>