<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamdeng.template.data.dao.VacationDao">

	<!-- OFFICE_VACATION_YEAR(휴가_휴직_현황(연별)) 테이블 -->
	<!-- OFFICE_VACATION_DETAIL(휴가_휴직_상세) 테이블 -->
	<!-- OFFICE_VACATION_DETAIL_DAY_HISTORY(휴가_휴직_상세(일별히스토리)) 테이블 -->
	<!-- OFFICE_VACATION_PLUS(휴가_휴직_현황(포상휴가)) 테이블 -->

	<!-- OFFICE_VACATION_YEAR select column -->
	<sql id="vacation_year_select">
		a.user_id              AS user_id /* 직원ID */
		,a.base_year           AS base_year /* 기준년 */
		,a.annual_count        AS annual_count /* 발생연차 */
		,a.month_count         AS month_count /* 금년월차 */
		,a.useable_count       AS useable_count /* 사용가능일수 */
		,a.plus_vacation_count AS plus_vacation_count /* 포상휴가 수 */
		,a.used_count          AS used_count /* 사용일수 */
		<include refid="com.yamdeng.template.data.dao.CommonDao.common_select"/>
		<include refid="com.yamdeng.template.data.dao.CommonDao.user_common_select"/>
	</sql>

	<!-- OFFICE_VACATION_YEAR where -->
	<sql id="vacation_year_where">
		<if test='baseYear != null and !baseYear.equals("")'>
			AND a.base_year = #{baseYear}
		</if>
		<if test='userId != null and !userId.equals("")'>
			AND a.user_id = #{userId}
		</if>
		<if test='deptKey != null and !deptKey.equals("")'>
			AND d.dept_key = #{deptKey}
		</if>
		<if test='childDeptIdList != null and childDeptIdList.size != 0'>
			AND d.dept_key IN
			<foreach item="item" index="index" collection="childDeptIdList"
					 open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</sql>

	<!-- OFFICE_VACATION_DETAIL select column -->
	<sql id="vacation_detail_select">
		a.user_id                  AS user_id /* 직원ID */
		,a.base_year               AS base_year /* 기준년 */
		,a.submit_date             AS submit_date /* 신청일 */
		,a.approve_date            AS approve_date /* 승인일 */
		,a.vacation_kind_code      AS vacation_kind_code /* 휴가종류 */
		,fn_get_code_label('VACATION_KIND', a.vacation_kind_code) AS vacation_kind_code_name /* 휴가종류코드명 */
		,a.vacation_start_date_str AS vacation_start_date_str /* 휴가시작기간 */
		,a.vacation_end_date_str   AS vacation_end_date_str /* 휴가종료기간 */
		,a.use_count               AS use_count /* 사용연차 수 */
		,a.vacation_description    AS vacation_description /* 휴가/휴직 사유 */
		,a.approve_id              AS approve_id /* 전자결재 연동ID */
		,a.reg_date                AS reg_date /* 등록일 */
		,a.mod_date                AS mod_date /* 수정일 */
		<include refid="com.yamdeng.template.data.dao.CommonDao.user_common_select"/>
	</sql>

	<!-- OFFICE_VACATION_DETAIL where -->
	<sql id="vacation_detail_where">
		<if test='baseYear != null and !baseYear.equals("")'>
			AND a.base_year = #{baseYear}
		</if>
		<if test='userId != null and !userId.equals("")'>
			AND a.user_id = #{userId}
		</if>
		<if test='deptKey != null and !deptKey.equals("")'>
			AND d.dept_key = #{deptKey}
		</if>
		<if test='childDeptIdList != null and childDeptIdList.size != 0'>
			AND d.dept_key IN
			<foreach item="item" index="index" collection="childDeptIdList"
					 open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</sql>

	<!-- OFFICE_VACATION_DETAIL_DAY_HISTORY select column -->
	<sql id="vacation_detail_day_history_select">
		a.user_id             AS user_id /* 직원ID */
		,a.reg_date           AS reg_date /* 신청일 */
		,a.vacation_kind_code AS vacation_kind_code /* 휴가종류 */
		,fn_get_code_label('VACATION_KIND', a.vacation_kind_code) AS vacation_kind_code_name /* 휴가종류코드명 */
		,a.base_date_str      AS base_date_str /* 휴가일(일별) */
		,a.approve_id         AS approve_id /* 전자결재 연동ID */
		<include refid="com.yamdeng.template.data.dao.CommonDao.user_common_select"/>
	</sql>

	<!-- OFFICE_VACATION_PLUS select column -->
	<sql id="vacation_plus_select">
		a.user_id         AS user_id /* 직원ID */
		,a.base_year      AS base_year /* 기준년 */
		,a.vacation_name  AS vacation_name /* 휴가이름 */
		,a.vacation_count AS vacation_count /* 휴가일 수 */
		,a.mod_user_id    AS mod_user_id /* 수정자ID */
		<include refid="com.yamdeng.template.data.dao.CommonDao.user_common_select"/>
	</sql>

	<!-- 휴가_휴직_현황(연별) detail : user_id 기준 -->
	<select id="selectVacationYearInfoByUserId"
			parameterType="com.yamdeng.template.vo.db.OfficeVacationYearVO"
			resultType="com.yamdeng.template.vo.db.OfficeVacationYearVO">
		SELECT
			<include refid="vacation_year_select"/>
		FROM OFFICE_VACATION_YEAR a
			<include refid="com.yamdeng.template.data.dao.CommonDao.user_common_join_table"/>
		WHERE a.base_year = #{baseYear} AND a.user_id = #{userId}
	</select>

	<!-- 기준일 기준으로 휴가내역이 존재하는지 체크 -->
	<select id="selectVacationDetailDayHistoryInfo"
			parameterType="com.yamdeng.template.vo.db.OfficeVacationDetailDayHistoryVO"
			resultType="com.yamdeng.template.vo.db.OfficeVacationDetailDayHistoryVO">
		SELECT
			<include refid="vacation_detail_day_history_select"/>
		FROM   office_vacation_detail_day_history a
			<include refid="com.yamdeng.template.data.dao.CommonDao.user_common_join_table"/>
		WHERE a.base_date_str = #{baseDateStr}
			AND a.user_id = #{userId}
	</select>

	<!-- 휴가이력 list -->
	<select id="selectVacationDetailDayHistoryList"
			parameterType="com.yamdeng.template.vo.db.OfficeVacationDetailDayHistoryVO"
			resultType="com.yamdeng.template.vo.db.OfficeVacationDetailDayHistoryVO">
		SELECT
			<include refid="vacation_detail_day_history_select"/>
		FROM   office_vacation_detail_day_history a
			<include refid="com.yamdeng.template.data.dao.CommonDao.user_common_join_table"/>
		WHERE 1=1
		<if test='userId != null and !userId.equals("")'>
			AND a.user_id = #{userId}
		</if>
		<if test='baseDateStr != null and !baseDateStr.equals("")'>
			AND a.base_date_str = #{baseDateStr}
		</if>
	</select>

	<!-- 휴가_휴직_상세 list -->
	<select id="selectVacationDetailList"
			parameterType="com.yamdeng.template.vo.db.OfficeVacationDetailVO"
			resultType="com.yamdeng.template.vo.db.OfficeVacationDetailVO">
		SELECT
			<include refid="vacation_detail_select"/>
		FROM office_vacation_detail a
			<include refid="com.yamdeng.template.data.dao.CommonDao.user_common_join_table"/>
		WHERE 1=1
			<include refid="vacation_detail_where"/>
		<include refid="com.yamdeng.template.data.dao.CommonDao.common_page_bottom"/>
	</select>

	<!-- 휴가_휴직_상세 list totalCount -->
	<select id="selectVacationDetailListTotalCount"
			parameterType="com.yamdeng.template.vo.db.OfficeVacationDetailVO"
			resultType="java.lang.Integer">
		SELECT count(*)
		FROM office_vacation_detail a
			<include refid="com.yamdeng.template.data.dao.CommonDao.user_common_join_table"/>
		WHERE 1=1
			<include refid="vacation_detail_where"/>
	</select>

	<!-- 휴가_휴직_현황(연별) list -->
	<select id="selectVacationYearList"
			parameterType="com.yamdeng.template.vo.db.OfficeVacationYearVO"
			resultType="com.yamdeng.template.vo.db.OfficeVacationYearVO">
		SELECT
			<include refid="vacation_year_select"/>
		FROM office_vacation_year a
			<include refid="com.yamdeng.template.data.dao.CommonDao.user_common_join_table"/>
		WHERE 1=1
			<include refid="vacation_detail_where"/>
		<include refid="com.yamdeng.template.data.dao.CommonDao.common_page_bottom"/>
	</select>

	<!-- 휴가_휴직_현황(연별) list totalCount -->
	<select id="selectVacationYearListTotalCount"
			parameterType="com.yamdeng.template.vo.db.OfficeVacationYearVO"
			resultType="java.lang.Integer">
		SELECT count(*)
		FROM office_vacation_year a
			<include refid="com.yamdeng.template.data.dao.CommonDao.user_common_join_table"/>
		WHERE 1=1
			<include refid="vacation_detail_where"/>
	</select>

	<!-- 휴가_휴직_현황(연별) insert -->
	<insert id="insertVacationYear"
			parameterType="com.yamdeng.template.vo.db.OfficeVacationYearVO">
		INSERT INTO office_vacation_year (
			user_id
			,base_year
			<if test='annualCount != null and !annualCount.equals("")'>
				,annual_count
			</if>
			<if test='monthCount != null and !monthCount.equals("")'>
				,month_count
			</if>
			<if test='useableCount != null and !useableCount.equals("")'>
				,useable_count
			</if>
			<if test='plusVacationCount != null and !plusVacationCount.equals("")'>
				,plus_vacation_count
			</if>
			<if test='usedCount != null and !usedCount.equals("")'>
				,used_count
			</if>
			<if test='regDate != null and !regDate.equals("")'>
				,reg_date
			</if>
			<if test='modDate != null and !modDate.equals("")'>
				,mod_date
			</if>
			<if test='loginUserId != null and !loginUserId.equals("")'>
				,reg_user_id
			</if>
			<if test='loginUserId != null and !loginUserId.equals("")'>
				,mod_user_id
			</if>
		) VALUES (
			#{userId}
			,#{baseYear}
			<if test='annualCount != null and !annualCount.equals("")'>
				,#{annualCount}
			</if>
			<if test='monthCount != null and !monthCount.equals("")'>
				,#{monthCount}
			</if>
			<if test='useableCount != null and !useableCount.equals("")'>
				,#{useableCount}
			</if>
			<if test='plusVacationCount != null and !plusVacationCount.equals("")'>
				,#{plusVacationCount}
			</if>
			<if test='usedCount != null and !usedCount.equals("")'>
				,#{usedCount}
			</if>
			<if test='regDate != null and !regDate.equals("")'>
				,#{regDate}
			</if>
			<if test='modDate != null and !modDate.equals("")'>
				,#{modDate}
			</if>
			<if test='loginUserId != null and !loginUserId.equals("")'>
				,#{loginUserId}
			</if>
			<if test='loginUserId != null and !loginUserId.equals("")'>
				,#{loginUserId}
			</if>
		)
	</insert>

	<!-- 휴가_휴직_현황(연별) update -->
	<update id="updateVacationYear"
			parameterType="com.yamdeng.template.vo.db.OfficeVacationYearVO">
		UPDATE office_vacation_year
		SET
			mod_date = <include refid="com.yamdeng.template.data.dao.CommonDao.current_date_function"/>
			<if test='annualCount != null and !annualCount.equals("")'>
				,annual_count = #{annualCount}
			</if>
			<if test='monthCount != null and !monthCount.equals("")'>
				,month_count = #{monthCount}
			</if>
			<if test='useableCount != null and !useableCount.equals("")'>
				,useable_count = #{useableCount}
			</if>
			<if test='plusVacationCount != null and !plusVacationCount.equals("")'>
				,plus_vacation_count = #{plusVacationCount}
			</if>
			<if test='usedCount != null and !usedCount.equals("")'>
				,used_count = #{usedCount}
			</if>
			<if test='loginUserId != null and !loginUserId.equals("")'>
				,reg_user_id = #{loginUserId}
			</if>
			<if test='loginUserId != null and !loginUserId.equals("")'>
				,mod_user_id = #{loginUserId}
			</if>
		WHERE base_year = #{baseYear} AND user_id = #{userId}
	</update>

	<!-- 휴가_휴직_현황(포상휴가) detail : user_id 기준 -->
	<select id="selectVacationPlusInfoByUserId"
			parameterType="com.yamdeng.template.vo.db.OfficeVacationPlusVO"
			resultType="com.yamdeng.template.vo.db.OfficeVacationPlusVO">
		SELECT
			<include refid="vacation_plus_select"/>
		FROM OFFICE_VACATION_PLUS a
			<include refid="com.yamdeng.template.data.dao.CommonDao.user_common_join_table"/>
		WHERE a.base_year = #{baseYear} AND a.user_id = #{userId}
	</select>

	<!-- 휴가_휴직_현황(포상휴가) insert -->
	<insert id="insertVacationPlus"
			parameterType="com.yamdeng.template.vo.db.OfficeVacationPlusVO">
		INSERT INTO office_vacation_plus (
			user_id
			,base_year
			<if test='vacationName != null and !vacationName.equals("")'>
				,vacation_name
			</if>
			<if test='vacationCount != null and !vacationCount.equals("")'>
				,vacation_count
			</if>
			<if test='regDate != null and !regDate.equals("")'>
				,reg_date
			</if>
			<if test='modDate != null and !modDate.equals("")'>
				,mod_date
			</if>
			<if test='loginUserId != null and !loginUserId.equals("")'>
				,reg_user_id
			</if>
			<if test='loginUserId != null and !loginUserId.equals("")'>
				,mod_user_id
			</if>
		) VALUES (
			#{userId}
			,#{baseYear}
			<if test='vacationName != null and !vacationName.equals("")'>
				,#{vacationName}
			</if>
			<if test='vacationCount != null and !vacationCount.equals("")'>
				,#{vacationCount}
			</if>
			<if test='regDate != null and !regDate.equals("")'>
				,#{regDate}
			</if>
			<if test='modDate != null and !modDate.equals("")'>
				,#{modDate}
			</if>
			<if test='loginUserId != null and !loginUserId.equals("")'>
				,#{loginUserId}
			</if>
			<if test='loginUserId != null and !loginUserId.equals("")'>
				,#{loginUserId}
			</if>
		)
	</insert>

	<!-- 휴가_휴직_현황(포상휴가) update -->
	<update id="updateVacationPlus"
			parameterType="com.yamdeng.template.vo.db.OfficeVacationPlusVO">
		UPDATE office_vacation_plus
		SET
			mod_date = <include refid="com.yamdeng.template.data.dao.CommonDao.current_date_function"/>
			<if test='vacationName != null and !vacationName.equals("")'>
				,vacation_name = #{vacationName}
			</if>
			<if test='vacationCount != null and !vacationCount.equals("")'>
				,vacation_count = #{vacationCount}
			</if>
			<if test='regDate != null and !regDate.equals("")'>
				,reg_date = #{regDate}
			</if>
			<if test='modDate != null and !modDate.equals("")'>
				,mod_date = #{modDate}
			</if>
			<if test='loginUserId != null and !loginUserId.equals("")'>
				,reg_user_id = #{loginUserId}
			</if>
			<if test='loginUserId != null and !loginUserId.equals("")'>
				,mod_user_id = #{loginUserId}
			</if>
		WHERE base_year = #{baseYear} AND user_id = #{userId}
	</update>

	<!-- 전체 휴가 관리 list -->
	<select id="selectVacationMonthStatsAllList"
			parameterType="com.yamdeng.template.vo.stats.OfficeVacationMonthStatsAllVO"
			resultType="com.yamdeng.template.vo.stats.OfficeVacationMonthStatsAllVO">
		SELECT
			<include refid="vacation_year_select"/>
			<include refid="com.yamdeng.template.data.dao.VacationStatsDao.vacation_month_stats_select_external"/>
		FROM   office_vacation_year a
				left outer join office_vacation_month_stats s
							on a.user_id = s.user_id and a.base_year = s.base_year
			<include refid="com.yamdeng.template.data.dao.CommonDao.user_common_join_table"/>
		WHERE 1=1
			AND a.base_year = #{baseYear}
		<include refid="com.yamdeng.template.data.dao.CommonDao.common_page_bottom"/>
	</select>

	<!-- 전체 휴가 관리 list totalCount -->
	<select id="selectVacationMonthStatsAllListTotalCount"
			parameterType="com.yamdeng.template.vo.stats.OfficeVacationMonthStatsAllVO"
			resultType="java.lang.Integer">
		SELECT count(*)
		FROM   office_vacation_year a
				left outer join office_vacation_month_stats s
				on a.user_id = s.user_id and a.base_year = s.base_year
			<include refid="com.yamdeng.template.data.dao.CommonDao.user_common_join_table"/>
		WHERE 1=1
			AND a.base_year = #{baseYear}
		<include refid="com.yamdeng.template.data.dao.CommonDao.common_page_bottom"/>
	</select>

</mapper>