<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamdeng.template.data.dao.VacationDao">

	<!-- 휴가_휴직_현황(연별) OFFICE_VACATION_YEAR 테이블 select column -->
	<sql id="vacation_select">
		a.user_id              AS user_id /* 직원ID */
		,a.base_year           AS base_year /* 기준년 */
		,a.annual_count        AS annual_count /* 발생연차 */
		,a.month_count         AS month_count /* 금년월차 */
		,a.useable_count       AS useable_count /* 사용가능일수 */
		,a.plus_vacation_count AS plus_vacation_count /* 포상휴가 수 */
		,a.used_count          AS used_count /* 사용일수 */
		<include refid="com.yamdeng.template.data.dao.CommonDao.common_select"/>
		<include refid="com.yamdeng.template.data.dao.CommonDao.user_common_select"/>
	</sql>

	<!-- 휴가/휴직(연별) 상세 조회 : 사용자ID 기준 -->
	<select id="selectVacationInfoByUserId"
			parameterType="com.yamdeng.template.vo.db.OfficeVacationYearVO"
			resultType="com.yamdeng.template.vo.db.OfficeVacationYearVO">
		SELECT
		<include refid="vacation_select"/>
		FROM OFFICE_VACATION_YEAR a
		<include refid="com.yamdeng.template.data.dao.CommonDao.user_common_join_table"/>
		WHERE a.base_year = #{baseYear} AND a.user_id = #{userId}
	</select>

	<!-- 기준일 기준으로 휴가내역이 존재하는지 체크 -->
	<select id="selectVacationDetailDayHistoryInfo"
			parameterType="com.yamdeng.template.vo.db.OfficeVacationDetailDayHistoryVO"
			resultType="com.yamdeng.template.vo.db.OfficeVacationDetailDayHistoryVO">
		SELECT a.user_id             AS user_id /* 직원ID */
				,a.reg_date           AS reg_date /* 신청일 */
				,a.vacation_kind_code AS vacation_kind_code /* 휴가종류 */
				,a.base_date_str      AS base_date_str /* 휴가일(일별) */
				,a.approve_id         AS approve_id /* 전자결재 연동ID */
				FROM   office_vacation_detail_day_history a
		WHERE base_date_str = #{baseDateStr}
			AND user_id = #{userId}
	</select>


</mapper>