<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamdeng.template.data.dao.WorkReportDao">

	<!-- OFFICE_WORK_REPORT(업무보고) 테이블 -->

	<!-- OFFICE_WORK_REPORT select column -->
	<sql id="work_report_select">
		a.report_id                  AS report_id /* 업부보고_ID */
		,a.base_date_str             AS base_date_str /* 보고기준일 */
		,a.report_date               AS report_date /* 보고일(작성일) */
		,a.user_id                   AS user_id /* 작성자 */
		,a.dept_id                   AS dept_id /* 부서 */
		,a.report_content            AS report_content /* 보고내용 */
		,a.report_submit_status_code AS report_submit_status_code /* 업무보고 제출상태 */
		,a.issue_yn                  AS issue_yn /* 이슈 여부 */
		<include refid="com.yamdeng.template.data.dao.CommonDao.common_select"/>
		<include refid="com.yamdeng.template.data.dao.CommonDao.common_manager_select"/>
		<include refid="com.yamdeng.template.data.dao.CommonDao.dept_common_select"/>
	</sql>
	
	<!-- OFFICE_WORK_REPORT where -->
	<sql id="work_report_where">
		<if test='searchDateStr != null and !searchDateStr.equals("")'>
			AND a.base_date_str = #{searchDateStr}
		</if>
		<if test='searchMonthStr != null and !searchMonthStr.equals("")'>
			AND substring(a.base_date_str :: VARCHAR, 1, 6) = #{searchMonthStr}
		</if>
		<if test='startDateStr != null and !startDateStr.equals("")'>
			AND a.base_date_str <![CDATA[ >= ]]> #{startDateStr}
		</if>
		<if test='endDateStr != null and !endDateStr.equals("")'>
			AND a.base_date_str <![CDATA[ <= ]]> #{endDateStr}
		</if>
		<if test='deptId != null and !deptId.equals("")'>
			AND a.dept_id = #{deptId}
		</if>
		<if test='childDeptIdList != null and childDeptIdList.size != 0'>
			AND a.dept_id IN
			<foreach item="item" index="index" collection="childDeptIdList"
					 open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</sql>

	<!-- OFFICE_WORK_REPORT dashboard where -->
	<sql id="work_report_dashboard_where">
		<if test='searchKind != null and !searchKind.equals("")'>
			<!-- 제출전(SUBMIT) -->
			<if test='searchKind.equals("SUBMIT")'>
				AND report_date IS NOT NULL
			</if>
			<!-- 미제출(NOT_SUBMIT) -->
			<if test='searchKind.equals("NOT_SUBMIT")'>
				AND (
					( report_date IS NULL AND base_date_str <![CDATA[ <= ]]> #{twoBeforeWorkDateStr} )
						OR ( report_date IS NOT NULL
							AND fn_check_work_report_not_submit(base_date_str, to_char(report_date, 'yyyyMMdd')) <![CDATA[ >= ]]> 0 )
				)
			</if>
			<!-- 이슈(ISSUE) -->
			<if test='searchKind.equals("ISSUE")'>
				AND a.issue_yn = 'Y'
			</if>
			<!-- 댓글(COMMENT) -->
			<if test='searchKind.equals("COMMENT")'>
				AND a.report_id IN(SELECT report_id
									FROM   office_work_report_comment
									WHERE  report_id IN(SELECT report_id
														FROM   office_work_report a
														WHERE  1=1
												<include refid="work_report_where"/>
									)
				)
			</if>
		</if>
	</sql>

	<!-- OFFICE_WORK_REPORT_COMMENT select column -->
	<sql id="work_report_comment_select">
		a.comment_id       AS comment_id /* 댓글_ID */
		,a.report_id       AS report_id /* 업부보고_ID */
		,a.user_id         AS user_id /* 작성자 */
		,a.comment_content AS comment_content /* 댓글내용 */
		<include refid="com.yamdeng.template.data.dao.CommonDao.common_select"/>
		<include refid="com.yamdeng.template.data.dao.CommonDao.user_common_select"/>
	</sql>

	<!-- 부서ID 기준 일주일 업무보고 목록(공휴일 포함) -->
	<select id="selectRecent7DayListByDeptId"
			parameterType="com.yamdeng.template.vo.db.OfficeWorkReportVO"
			resultType="com.yamdeng.template.vo.db.OfficeWorkReportVO">
		SELECT
		<include refid="work_report_select"/>
		FROM OFFICE_WORK_REPORT a
		<include refid="com.yamdeng.template.data.dao.CommonDao.dept_common_join_table"/>
		WHERE a.BASE_DATE_STR BETWEEN #{startDateStr} AND #{endDateStr} AND a.dept_id = #{deptId}
	</select>

	<!-- 업무보고 목록 : 부서키 목록 기준 -->
	<select id="selectWorkReportListByDeptIdList"
			parameterType="com.yamdeng.template.vo.db.OfficeWorkReportVO"
			resultType="com.yamdeng.template.vo.db.OfficeWorkReportVO">
		SELECT
		<include refid="work_report_select"/>
		FROM OFFICE_WORK_REPORT a
		<include refid="com.yamdeng.template.data.dao.CommonDao.dept_common_join_table"/>
		WHERE a.BASE_DATE_STR = #{baseDateStr}
			AND a.dept_id IN
			<foreach item="item" index="index" collection="childDeptIdList"
					 open="(" separator="," close=")">
				#{item}
			</foreach>
	</select>

	<!-- 업무보고 list -->
	<select id="selectWorkReportList"
			parameterType="com.yamdeng.template.vo.db.OfficeWorkReportVO"
			resultType="com.yamdeng.template.vo.db.OfficeWorkReportVO">
		SELECT
		<include refid="work_report_select"/>
		FROM OFFICE_WORK_REPORT a
		<include refid="com.yamdeng.template.data.dao.CommonDao.dept_common_join_table"/>
		WHERE 1=1
		<include refid="work_report_where"/>
		<include refid="work_report_dashboard_where"/>
		<include refid="com.yamdeng.template.data.dao.CommonDao.common_page_bottom"/>
	</select>

	<!-- 업무보고 list totalCount -->
	<select id="selectWorkReportListTotalCount"
			parameterType="com.yamdeng.template.vo.db.OfficeWorkReportVO"
			resultType="java.lang.Integer">
		SELECT count(*)
		FROM OFFICE_WORK_REPORT a
		<include refid="com.yamdeng.template.data.dao.CommonDao.dept_common_join_table"/>
		WHERE 1=1
		<include refid="work_report_where"/>
		<include refid="work_report_dashboard_where"/>
	</select>

	<!-- 업무보고 현황 : 월간, 하루, 기간 -->
	<select id="selectWorkReportStats"
			parameterType="com.yamdeng.template.vo.db.OfficeWorkReportVO"
			resultType="com.yamdeng.template.vo.common.StatsCommonVO">
		SELECT 'all'     AS kind /* 업무보고 */
			,count(*) AS agg_count
		FROM   office_work_report a
		WHERE  1=1
		<include refid="work_report_where"/>
		UNION ALL
		SELECT 'submit'  AS kind /* 제출 */
			,count(*) AS agg_count
		FROM   office_work_report a
		WHERE  1=1
		<include refid="work_report_where"/>
			AND report_date IS NOT NULL
		UNION ALL
		SELECT 'report_not_submit' AS kind /* 미제출 */
      		 ,count(*)           AS agg_count
		FROM   office_work_report a
		WHERE  1=1
			<include refid="work_report_where"/>
			AND ( ( report_date IS NULL
					AND base_date_str <![CDATA[ <= ]]> #{twoBeforeWorkDateStr} )
					OR ( report_date IS NOT NULL
						AND fn_check_work_report_not_submit(base_date_str, to_char(report_date, 'yyyyMMdd')) <![CDATA[ >= ]]> 0 ) )
		UNION ALL
		SELECT 'report_issue' AS kind /* 업무보고 이슈 수 */
			,count(*)      AS agg_count
		FROM   office_work_report a
		WHERE  1=1
		<include refid="work_report_where"/>
			AND a.issue_yn = 'Y'
		UNION ALL
		SELECT 'comment'                    AS kind /* 코멘트 */
			,count(*) AS agg_count
		FROM   office_work_report a
		WHERE  1=1
		<include refid="work_report_where"/>
		AND a.report_id IN(SELECT report_id
                          FROM   office_work_report_comment
                          WHERE  report_id IN(SELECT report_id
                                              FROM   office_work_report a
                                              WHERE  1=1
											  <include refid="work_report_where"/>
											  )
							)
	</select>

	<!-- 업무보고 상세 : 기준날짜 + 부서 ID 기준 -->
	<select id="selectWorkReportInfoByBaseDateStrAndDeptId"
			parameterType="com.yamdeng.template.vo.db.OfficeWorkReportVO"
			resultType="com.yamdeng.template.vo.db.OfficeWorkReportVO">
		SELECT
		<include refid="work_report_select"/>
		FROM office_work_report a
		<include refid="com.yamdeng.template.data.dao.CommonDao.dept_common_join_table"/>
		WHERE a.dept_id = #{deptId} AND a.base_date_str = #{baseDateStr}
	</select>

	<!-- 업무보고 상세 : report_id 기준 -->
	<select id="selectWorkReportInfoByReportId"
			parameterType="com.yamdeng.template.vo.db.OfficeWorkReportVO"
			resultType="com.yamdeng.template.vo.db.OfficeWorkReportVO">
		SELECT
		<include refid="work_report_select"/>
		FROM office_work_report a
		<include refid="com.yamdeng.template.data.dao.CommonDao.dept_common_join_table"/>
		WHERE a.report_id = #{reportId}
	</select>

	<!-- 업무보고 insert -->
	<insert id="insertWorkReport" parameterType="com.yamdeng.template.vo.db.OfficeWorkReportVO">
		INSERT INTO office_work_report (
			report_id
			,base_date_str
			<if test='reportDate != null and !reportDate.equals("")'>
			,report_date
			</if>
			<if test='userId != null and !userId.equals("")'>
			,user_id
			</if>
			<if test='deptId != null and !deptId.equals("")'>
			,dept_id
			</if>
			<if test='reportContent != null and !reportContent.equals("")'>
			,report_content
			</if>
			<if test='reportSubmitStatusCode != null and !reportSubmitStatusCode.equals("")'>
			,report_submit_status_code
			</if>
			<if test='issueYn != null and !issueYn.equals("")'>
			,issue_yn
			</if>
			<if test='regDate != null'>
			,reg_date
			</if>
			<if test='modDate != null'>
			,mod_date
			</if>
			<if test='loginUserId != null and !loginUserId.equals("")'>
			,reg_user_id
			</if>
			<if test='loginUserId != null and !loginUserId.equals("")'>
			,mod_user_id
			</if>
		) VALUES (
			#{reportId}
			,#{baseDateStr}
			<if test='reportDate != null and !reportDate.equals("")'>
			,#{reportDate}
			</if>
			<if test='userId != null and !userId.equals("")'>
			,#{userId}
			</if>
			<if test='deptId != null and !deptId.equals("")'>
			,#{deptId}
			</if>
			<if test='reportContent != null and !reportContent.equals("")'>
			,#{reportContent}
			</if>
			<if test='reportSubmitStatusCode != null and !reportSubmitStatusCode.equals("")'>
			,#{reportSubmitStatusCode}
			</if>
			<if test='issueYn != null and !issueYn.equals("")'>
			,#{issueYn}
			</if>
			<if test='regDate != null'>
			,#{regDate}
			</if>
			<if test='modDate != null'>
			,#{modDate}
			</if>
			<if test='loginUserId != null and !loginUserId.equals("")'>
			,#{loginUserId}
			</if>
			<if test='loginUserId != null and !loginUserId.equals("")'>
			,#{loginUserId}
			</if>
		)
	</insert>

	<!-- 업무보고 update -->
	<update id="updateWorkReport" parameterType="com.yamdeng.template.vo.db.OfficeWorkReportVO">
		UPDATE office_work_report
		 SET 
		 	mod_date = <include refid="com.yamdeng.template.data.dao.CommonDao.current_date_function"/>
			<if test='reportDate != null and !reportDate.equals("")'>
			,report_date = #{reportDate}
			</if>
			<if test='userId != null and !userId.equals("")'>
			,user_id = #{userId}
			</if>
			<if test='deptId != null and !deptId.equals("")'>
			,dept_id = #{deptId}
			</if>
			<if test='reportContent != null and !reportContent.equals("")'>
			,report_content = #{reportContent}
			</if>
			<if test='reportSubmitStatusCode != null and !reportSubmitStatusCode.equals("")'>
			,report_submit_status_code = #{reportSubmitStatusCode}
			</if>
			<if test='issueYn != null and !issueYn.equals("")'>
			,issue_yn = #{issueYn}
			</if>
			<if test='loginUserId != null and !loginUserId.equals("")'>
			,mod_user_id = #{loginUserId}
			</if>
		WHERE report_id = #{reportId}
	</update>

	<!-- 업무보고 댓글 상세 조회 : report_id 기준 -->
	<select id="selectWorkReportCommentInfoByReportId"
			parameterType="com.yamdeng.template.vo.db.OfficeWorkReportCommentVO"
			resultType="com.yamdeng.template.vo.db.OfficeWorkReportCommentVO">
		SELECT
			<include refid="work_report_comment_select"/>
		FROM   office_work_report_comment a
		<include refid="com.yamdeng.template.data.dao.CommonDao.user_common_join_table"/>
		WHERE  a.report_id = #{reportId}
	</select>

	<!-- 업무보고 댓글 상세 조회 : comment_id 기준 -->
	<select id="selectWorkReportCommentInfoByCommentId"
			parameterType="com.yamdeng.template.vo.db.OfficeWorkReportCommentVO"
			resultType="com.yamdeng.template.vo.db.OfficeWorkReportCommentVO">
		SELECT
		<include refid="work_report_comment_select"/>
		FROM   office_work_report_comment a
		<include refid="com.yamdeng.template.data.dao.CommonDao.user_common_join_table"/>
		WHERE  a.comment_id = #{commentId}
	</select>

	<!-- 업무보고 댓글 insert -->
	<insert id="insertWorkReportComment" parameterType="com.yamdeng.template.vo.db.OfficeWorkReportCommentVO">
		INSERT INTO office_work_report_comment (
			comment_id
			,report_id
			,user_id
		<if test='commentContent != null and !commentContent.equals("")'>
			,comment_content
		</if>
		<if test='regDate != null and !regDate.equals("")'>
			,reg_date
		</if>
		<if test='modDate != null and !modDate.equals("")'>
			,mod_date
		</if>
		<if test='loginUserId != null and !loginUserId.equals("")'>
			,reg_user_id
		</if>
		<if test='loginUserId != null and !loginUserId.equals("")'>
			,mod_user_id
		</if>
		) VALUES (
			#{commentId}
			,#{reportId}
			,#{userId}
		<if test='commentContent != null and !commentContent.equals("")'>
			,#{commentContent}
		</if>
		<if test='regDate != null and !regDate.equals("")'>
			,#{regDate}
		</if>
		<if test='modDate != null and !modDate.equals("")'>
			,#{modDate}
		</if>
		<if test='loginUserId != null and !loginUserId.equals("")'>
			,#{loginUserId}
		</if>
		<if test='loginUserId != null and !loginUserId.equals("")'>
			,#{loginUserId}
		</if>
		)
	</insert>

	<!-- 업무보고 댓글 update -->
	<update id="updateWorkReportComment" parameterType="com.yamdeng.template.vo.db.OfficeWorkReportCommentVO">
		UPDATE office_work_report_comment
		SET
			mod_date = <include refid="com.yamdeng.template.data.dao.CommonDao.current_date_function"/>
			,user_id = #{userId}
			,comment_content = #{commentContent}
		<if test='loginUserId != null and !loginUserId.equals("")'>
			,mod_user_id = #{loginUserId}
		</if>
		WHERE comment_id = #{commentId}
	</update>

</mapper>