<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>타입리프 모델</title>
</head>
<body>
  <h3>model root 속성 사용333</h3>
  <div>
   <p th:text="${name}">
   </p>
   <p th:text="${email}">
   </p>
  </div>

  <h3>model map 속성 사용</h3>
  <div th:object="${memberMap}">
   <p th:text="*{name}">
   </p>
   <p th:text="*{email}">
   </p>
  </div>

  <h3>model vo 속성 사용</h3>
  <div th:object="${memberVo}">
    <p th:text="*{name}">
    </p>
    <p th:text="*{email}">
    </p>
  </div>
</body>
</html>